# Ignorar archivos compilados de Java
*.class

# Ignorar directorios generados por Maven y compilación
target/
bin/
out/

# Ignorar configuraciones de Eclipse/IntelliJ
.metadata/
.settings/
.classpath
.project
.idea/
*.iml

# Ignorar dependencias descargadas
.mvn/
